<div class="page-header">
  <%= link_to new_noticia_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Noticia
  <% end %>
  <h1>Listing noticias</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Titulo</th>
            <th>Conteudo</th>
            <th>Autor</th>
            <th>Tags</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @noticias) do |noticia| %>
            <td><%= noticia.titulo %></td>
            <td><%= noticia.conteudo %></td>
            <td><%= noticia.autor %></td>
            <td><%= noticia.tags %></td>
            <td><%= link_to 'Show', noticia %></td>
        <td><%= link_to 'Edit', edit_noticia_path(noticia) %></td>
        <td><%= link_to 'Destroy', noticia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
