<p id="notice"><%= notice %></p>

<h1>Listing Usuarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= link_to icon("search"), usuario %></td>
        <td><%= link_to icon("edit"), edit_usuario_path(usuario) %></td>
        <td><%= link_to icon("remove"), usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
